#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  max-width: none;
}




@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

html {
  scroll-behavior: smooth;
}


.portfolio-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0rem; /* pushes content down without creating external gap */


}
.nav-sections{
  width: 100%;
  max-width: 100%;
  top:0;
  right: 0;
  display: flex;
  gap:30px;
  border-radius: 20px;
  padding: 1rem;
  backdrop-filter: blur(4px); 
  flex-wrap: wrap;       /* allow items to wrap instead of stretching */
  justify-content: flex-end; /* keeps nav items centered */
  margin-left: auto;
  box-sizing: border-box;
  margin-top: 25px;
}

.nav-sections a{
  position:relative;
  color:white;
  font-size: 1.5rem; 
  font-weight: bold; 
  transition: 
  color 0.3s ease-in-out, 
  text-shadow 0.3s ease-in-out,  
  transform 0.3s ease-in-out; ;
  
}

.nav-sections a:hover {
  color: white; 
  text-shadow: 
  0 0 5px rgba(0, 194, 255, 1),
  0 0 10px rgba(0, 194, 255, 0.7),
  0 0 15px rgba(0, 194, 255, 0.5);
  transform: scale(1.2);
}
.aboutMe{
  scroll-margin-top: 50px;
  width:80%;
}


.aboutMe-title{
  margin-top:50px;
  margin-bottom:50px;
  font-size:25px;
  color:white;
  text-align: left;
  text-shadow: 
   0 0 5px rgba(0, 194, 255, 1),
  0 0 10px rgba(0, 194, 255, 0.7),
  0 0 15px rgba(0, 194, 255, 0.5);
}

.aboutMe-description{
   /* color: rgba(255, 165, 0, 0.6); */
  color: white;
  text-align:left;
  font-size: 20px; /* adjust as needed */
  max-width: 650px;   /* optional, for better line length */

}



.resume-wrapper{
  width:100%;
}

.Projects{
  width: 80%;
  margin-top: 100px;
}